body {
    background-image: url('../images/cutewallMexicojpg.jpg');
    background-size: cover;  /* Cover the entire page */
    background-position: center;  
    background-repeat: no-repeat;  /* Do not repeat the image */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    background-attachment: fixed;
    padding: 1.25rem;
    margin: 0;
}
header {
    text-align: center;
    margin-bottom: 1.25rem;
    color:white;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.3rem;
}

/* Navigation Styles */
nav {
    width: 100%;
    background: rgba(255, 192, 203, 0.8);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10;

}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1.25rem;
}

nav ul li a {
    color: white;
    font-family: Georgia;
    /* font-size: 1.25rem; */
    font-weight: bold;
    text-decoration: none;
    padding: 0.625rem;
    display: block;
}

nav ul li a:hover {
    color: hotpink;
}

main {
    
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2rem;
}

/* .hidden {
    display: none;
} */

.blog-post {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 0.625rem;
    padding: 1.25rem;
    color: black; 
}

.blog-post h2 {
    color: black; 
}

.read-more-btn {
    background-color: pink; 
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

}

.read-more-btn:hover {
    background-color: blue; 
}

.full-post {
    display: none; 
    margin-top: 1rem;
    font-size: 1rem; 
}


.download-itinerary-btn {
    background-color: pink; 
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    display: inline-block; 
    margin-top: 1rem; 
    
}

.download-itinerary-btn:hover {
    background-color: blue; 
}

.photos-link-btn {
    
    color: white;  
}

.photos-link-btn:hover {
    color:blue;
}


/* Footer Styles */
footer {
    background: linear-gradient(90deg, palevioletred, hotpink);
    color: white;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Footer Info Section */
.footer-info p {
    font-size: 0.875rem; /* Slightly larger for readability */
    margin: 0.25rem 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover,
footer a:focus {
    color: #ffb6c1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}