body {
    background-image: url('../images/mountPortolio.jpg');
    background-size: cover;  /* Cover the entire page */
    background-position: center;  
    background-repeat: no-repeat;  /* Do not repeat the image */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    background-attachment: fixed;
    padding: 1.25rem;
    margin: 0;
}
header {
    text-align: center;
    margin-bottom: 1.25rem;
    color:black;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.3rem;
}
nav {
    width: 100%;
    background: transparent;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1.25rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.625rem;
    display: block;
}

nav ul li a:hover {
    color: blue;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.8); 
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.0625rem solid black;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.6); 
    color: white; 
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
    transition: transform 0.2s;
       

}

.project:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.2);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.project h3, .project p, .project a {
    margin-bottom: 0.625rem; /* Adds bottom margin to each element for spacing */
}

.project a {
    background-color: lightpink;
    color: white;
    padding: 0.5rem 1rem;  /* Provides ample space around the text, keeping it compact */
    border-radius: 0.3125rem;
    text-decoration: none;
    transition: background-color 0.2s;
    display: inline-block; /* Ensures the link behaves like a button */
    text-align: center; /* Centers text inside the button */
}

.project a:hover {
    background-color: #0056b3;
}



footer {
    background-color: palevioletred;
    color: white;
    padding: 0.9375rem 1.875rem; 
    text-align: center;
}

footer p {
    font-size: 0.85rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: #ffc0cb;
}

@media (max-width: 768px) {
    body {
        width: 100%; 
    }
    .header-content {
        flex-direction: column; 
    }

    nav ul li {
        display: block; 
        margin: 0.5rem 0; 
    }
}

